# ngrok domain (if you are using ngrok)
NGROK_DOMAIN=

# fetch.ai
ASI1_API_KEY=
AGENT_SEED_PHRASE=put-whatever-you-want-here
AGENTVERSE_KEY=
UAGENT_SEED=put-whatever-you-want-here
BOOKING_AGENT_SEED=put-whatever-you-want-here

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
